.left-menu .views-field-title button {
    background: transparent;
    border: none;
    width: 100%;
}

.left-menu .views-field-title button:hover {
    background-color: rgba(78, 143, 0, 0.6) !important;
    border: none !important;
}

.left-menu .views-field-title button span {
    color: white;
}

.left-menu .views-field-field-ruta-externa {
    display: none !important;
}

.modal-buttons .views-row {
    padding: 0 !important;
}

.modal-buttons .modal-content,
.modal-buttons .modal-body {
    height: 100%;
}

.modal-buttons .modal-lg,
.modal-buttons .modal-body > div {
    height: 93%;
}

@media (min-width: 992px){
  .modal-buttons .modal-lg {
      width: 95% !important;
  }
}
