.section_content{
    font-size: 14px !important;
}

.panel-flexible .panel-separator{
  margin: 0 !important;
}

.main-menu {
    background: #F5F5F5;
    padding-top: 10px;
}

.main-menu a{
  font-size: larger;
  font-weight: 600;
  color: #89898A;
}

.main-menu a:hover{
  color: #FB7265;
}

.main-menu .view-header{
    display: inline-block;
    position: relative;
    margin: 0px 10px;
}

.main-menu .view{
    border-bottom: 3px solid orange;
}

.main-menu .views-row{
    display: inline-block;
    position: relative;
    margin: 0px 10px;
    padding: 10px;
}

.main-menu .views-row .active, .main-menu a:hover{
    padding-bottom: 11px;
    border-bottom: 3px solid #FB7265;
}

.main-menu .view-content{
    display: inline-block;
    margin-bottom: 0px;
    width: 80%;
    overflow: visible;
}

.left-menu{
    float: initial !important;
    display: inline-block;
    margin-top: 15px;
}

.left-menu .views-row{
    padding: 10px;
    margin-bottom: 5px;
    background-image: linear-gradient(to left, #83C04C, #83C04C 97%, #183A6B 50%, #04386F);
    background-size: cover;
    background-repeat: no-repeat;
}

.left-menu .views-row a{
    color: white;
}

.slider{
    margin: 15px 0;
}

.slider .views-row{
    position: relative;
}

.slider .views-slideshow-controls-top{
    position: absolute;
    top: 40%;
    width: 100%;
    z-index: 10;
}

.slider .views-slideshow-controls-text{
    margin-right: 30px;
}

.slider .views-slideshow-controls-text-pause{
    display: none;
}

.slider .views-slideshow-controls-text-next{
  float: right;
}

.slider .views-field-title{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.48);
}

.slider .views-field-body{
    position: absolute;;
    top: 0px;
    padding: 30px 50px;
}

.slider .views-field-title a, .slider .views-field-body h2, .slider .views-field-body p{
    color: white;
}
.slider .views-field-title a{
    font-size: larger;
    font-weight: 500;
}

.slider .views-field-body h2{
    font-size: x-large;
}

.slider .views-field-body p{
    padding: 0 15px;
    max-height: 83px;
    overflow-wrap: break-word;
    overflow: hidden;
}

.slider .views-field-nothing{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.slider .views-field-nothing a{
    padding: 11px 30px;
}

.main-content{
    margin-top: 15px;
    padding-bottom: 15px;
}

.main-content h3{
    background: #FC5141;
    padding: 5px;
    padding-left: 25px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.main-content p, .main-content ol, .main-content ul, .main-content h4{
    border-left: 1px solid #CBCBCB;
    border-right: 1px solid #CBCBCB;
    padding: 10px;
}

.main-content p:last-child{
    border-bottom: 1px solid #CBCBCB;
}
.main-content .image{
    float: left;
    margin: 10px;
    margin-bottom: 0;
}
.main-content ol, .main-content  ul{
	-webkit-padding-start: 40px;
}

.main-content li{
	list-style: inherit;
}

.footer {
    padding-bottom: 15px;
}

.footer a{
    float: right;
    margin-left: 20px;
}

.panels-flexible-region{
    background: #F7F7F7;
}

.main_container {
    background: url("http://www.pixeden.com/media/k2/galleries/165/001-subtle-light-pattern-background-texture-vol5.jpg");
}

.section_content, .breadcrumb{
    background: transparent !important;
}

@media (max-width: 757px) {
  .main-menu {
    margin-right: 20px;
  }
  .main-menu .view-header{
    width: 100%;
    margin: 0;
  }
  .main-menu .views-row{
      width: 100%;
      border-bottom: 3px solid orange;
  }
  .main-menu .view-content{
      width: 100%;
  }
  .main-menu .view {
    border-bottom: none;
  }
}
@media (max-width: 767px) {
  .left-menu{
    width: 100%;
  }.left-menu .views-row{
      background-image: linear-gradient(to left, #83C04C, #83C04C 99%, #183A6B 50%, #04386F);
  }

}
