.section_content{
    font-size: 14px !important;
}

.panel-flexible .panel-separator{
  margin: 0 !important;
}

.main-menu {
    background: #F5F5F5;
    padding-top: 10px;
}

.main-menu a{
  padding-bottom: 11px;
  font-size: larger;
  font-weight: 600;
  color: #89898A;
  display: block;
}

.main-menu a:hover{
  color: #FB7265;
}

.main-menu .view-header{
    display: inline-block;
    position: relative;
    margin: 0px 10px;
    margin-bottom: -3px;
}

.main-menu .view{
    border-bottom: 3px solid orange;
}

.main-menu .views-row{
    display: inline-block;
    position: relative;
    margin: 0px 10px;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: -3px;
}

.main-menu .views-row .active, .main-menu a:hover{
    border-bottom: 3px solid #FB7265;
}

.main-menu .view-content{
    display: inline-block;
    margin-bottom: 0px;
    width: 80%;
    overflow: visible;
}

.left-menu{
    float: initial !important;
    display: inline-block;
    margin-top: 15px;
}

.left-menu .views-row{
    padding: 10px;
    margin-bottom: 5px;
    background-image: linear-gradient(to left, #83C04C, #83C04C 97%, #68844F 50%, #68844F);
    background-size: cover;
    background-repeat: no-repeat;
}

.left-menu .views-row:hover{
    background-image: linear-gradient(to left, #9AC771, #9AC771 97%, #68844F 50%, #68844F);
}

.left-menu .views-row a{
    color: white;
    display: block;
}

.slider{
    margin: 15px 0;
}

.slider .views-row{
    position: relative;
}

.slider .views-slideshow-controls-top{
    position: absolute;
    top: 40%;
    width: 100%;
    z-index: 10;
}

.slider .views-slideshow-controls-text{
    margin-right: 30px;
}

.slider .views-slideshow-controls-text-pause{
    display: none;
}

.slider .views-slideshow-controls-text-next{
  float: right;
}

.slider .views-slideshow-controls-text-previous a{
  margin-left: 10px;
  color: transparent;
  padding-bottom: 25px;
  background: url("https://dl.dropboxusercontent.com/s/zh9h1zrg2bvev6g/back.png") no-repeat;
}

.slider .views-slideshow-controls-text-next a{
  color: transparent;
  padding-bottom: 25px;
  background: url("https://dl.dropboxusercontent.com/s/dsewauzh4dycdua/next.png") no-repeat;
}

.slider .views-field-title{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.48);
}

.slider .views-field-body{
    position: absolute;;
    top: 0px;
    padding: 2% 9%;
}

.slider .views-field-title a, .slider .views-field-body h2, .slider .views-field-body p{
    color: white;
}
.slider .views-field-title a{
    font-size: larger;
    font-weight: 500;
}

.slider .views-field-body h2{
    font-size: x-large;
}

.slider .views-field-body p{
    padding: 0 15px;
    max-height: 62px;
    overflow-wrap: break-word;
    overflow: hidden;
}

.slider .views-field-nothing{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.slider .views-field-nothing a{
    padding: 11px 30px;
    background: #83C04C;
    border-color: #83C04C;
    border-radius: 0;
}

.main-content{
    margin-top: 15px;
    padding-bottom: 15px;
}

.main-content h3, .home h3{
    background: #FC5141;
    padding: 5px;
    padding-left: 25px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.main-content h4{
	  color: #FC5141;
}

.main-content p, .main-content ol, .main-content ul, .main-content h4, .main-content .container-fluid, .home iframe{
    border-left: 1px solid #CBCBCB;
    border-right: 1px solid #CBCBCB;
    padding: 10px;
}

.main-content p:last-child{
    border-bottom: 1px solid #CBCBCB;
}
.main-content .image{
    float: left;
    margin: 10px;
    margin-bottom: 0;
}
.main-content ol, .main-content  ul{
	 -webkit-padding-start: 40px;
}

.main-content li{
	  list-style: inherit;
}

.main-content .panel{
    margin-left: 2px;
    margin-top: 15px;
    padding: 0;
}

.main-content .panel-heading{
    text-align: center;
    background: #818181;
    color: white;
}

.main-content .panel-body {
    padding: 9px;
    background: #C0C0C0;
}

.main-content .panel-body a{
    display: block;
    font-size: smaller;
    color: #818181;
    text-decoration: none;
}

.main-content .panel-body:hover{
    background: white;
}

.main-content .panel-body:hover span{
    color: #818181;
}

.main-content span{
    padding-top: 10px;
    margin: auto;
    display: inherit;
    color: white;
}
.icon-file{
    width: 37px;
    height: 46px;
    background: url("https://dl.dropboxusercontent.com/s/zplij74bdx3iljk/icon_1.png");
}

.icon-hat{
    width: 67px;
    height: 47px;
    background: url("https://dl.dropboxusercontent.com/s/wdr7runm3s2hr7c/icon_2.png");

}

.icon-people{
    width: 68px;
    height: 46px;
    background: url("https://dl.dropboxusercontent.com/s/oml4xic9mqusnp0/icon_3.png");
}

.icon-book{
    width: 61px;
    height: 46px;
    background: url("https://dl.dropboxusercontent.com/s/fk9qa96l3mljx5o/icon_5.png");
}

.icon-mesh{
    width: 70px;
    height: 45px;
    background: url("https://dl.dropboxusercontent.com/s/bnhw5jixqvfm2vs/icon_4.png");
}

.footer {
    padding-bottom: 15px;
}

.footer a{
    float: right;
    margin-left: 20px;
}

.footer .google{
    width: 124px;
    height: 43px;
    background: url("https://dl.dropboxusercontent.com/s/z8lpywslp09c5bm/google_play.png");
}

.footer .pdf{
    width: 124px;
    height: 43px;
    background: url("https://dl.dropboxusercontent.com/s/ku8krak5cruo9if/pdf.png");
}

.panels-flexible-region{
    background: #F7F7F7;
}

.main_container {
    background: url("https://dl.dropboxusercontent.com/s/7rph4qm2yhkjpsa/background.png");
}

.section_content, .breadcrumb{
    background: transparent !important;
}

.main-content iframe {
  width: 100%;
  height: 700px;
}

.home iframe {
  width: 100%;
  height: 500px;
}


@media (max-width: 757px) {
  .main-menu {
    margin-right: 20px;
  }
  .main-menu .view-header{
    width: 100%;
    margin: 0;
  }
  .main-menu .views-row{
      width: 100%;
      border-bottom: 3px solid orange;
  }
  .main-menu .view-content{
      width: 100%;
  }
  .main-menu .view {
    border-bottom: none;
  }
  .slider .views-field-body{
    display: none;
  }
}
@media (max-width: 767px) {
  .left-menu{
    width: 100%;
  }
  .left-menu .views-row{
    background-image: linear-gradient(to left, #83C04C, #83C04C 97%, #68844F 50%, #68844F);
  }

}
@media (min-width: 992px){
  .col-md-2 {
      width: 19%;
      margin-left: 0px ;
}
}
