<h3>Catálogo Virtual</h3>

<div class = "container-fluid">

  <div class = "items">
    <div class="panel panel-default col-md-2">
      <div class="panel-heading">1</div>
      <div class="panel-body">
          <a class="" href="http://aprende.colombiaaprende.edu.co/es/snet/89238" role="button">Caracterizacion del sector
              <span class="icon-file"></span>
              <span class="glyphicon glyphicon-plus"></span>
          </a>
      </div>
    </div>

    <div class="panel panel-default col-md-2">
      <div class="panel-heading">2</div>
      <div class="panel-body">
          <a class="" href="http://aprende.colombiaaprende.edu.co/es/snet/89242" role="button">Analisis de la oferta edicativa
              <span class="icon-hat"></span>
              <span class="glyphicon glyphicon-plus"></span>
          </a>
      </div>
    </div>

    <div class="panel panel-default col-md-2">
      <div class="panel-heading">3</div>
      <div class="panel-body">
          <a class="" href="http://aprende.colombiaaprende.edu.co/es/snet/89244" role="button">Analisis de la demanda laboral
              <span class="icon-people"></span>
              <span class="glyphicon glyphicon-plus"></span>
          </a>
      </div>
    </div>

    <div class="panel panel-default col-md-2">
      <div class="panel-heading">4</div>
      <div class="panel-body">
          <a class="" href="http://aprende.colombiaaprende.edu.co/es/snet/89245" role="button">Diseño de las cualificaciones
              <span class="icon-mesh"></span>
              <span class="glyphicon glyphicon-plus"></span>
          </a>
      </div>
    </div>

    <div class="panel panel-default col-md-2">
      <div class="panel-heading">5</div>
      <div class="panel-body">
          <a class="" href="http://aprende.colombiaaprende.edu.co/es/snet/89246" role="button">Catalogo de las cualificaciones
              <span class="icon-book"></span>
              <span class="glyphicon glyphicon-plus"></span>
          </a>
      </div>
    </div>
  </div>
</div>

<p></p>
