<h3>En el camino del SNET</h3>

<p>&nbsp;</p>

<p>Para el Ministerio de Educación Nacional es de gran importancia presentar la política que guiará el Sistema Nacional de Educación Terciaria (SNET) para el país, en atención a lo dispuesto en el artículo 58 del Plan Nacional de Desarrollo 2014-2018 “Todos por un Nuevo País”.</p>

<p>&nbsp;</p>

<p>La propuesta es la de una educación con igualdad de oportunidades, que permita adquirir y desarrollar competencias, así como la realización personal, la progresión educativa y laboral, desde una perspectiva de aprendizaje a lo largo de la vida.</p>

<p>&nbsp;</p>

<p>La construcción de la política pública del SNET, partió del fortalecimiento de lo ya construido, la vinculación de los actores de los sectores educativo, de trabajo, gubernamental, así como del acompañamiento de expertos nacionales e internacionales, cercanos al contexto y las realidades que afronta el país en materia de educación y de capital humano.</p>

<p>&nbsp;</p>

<p>La puesta en marcha de esta política educativa comprende una transición gradual durante los próximos años y depende a su vez de la participación de todos los actores y entidades fundamentales en este proceso:</p>

<ol>
	<li>Estudiantes</li>
	<li>Ciudadanía</li>
	<li>Docentes</li>
	<li>Trabajadores</li>
	<li>Empresarios – empleadores</li>
	<li>Instituciones educativas</li>
	<li>Asociaciones, gremios y organizaciones</li>
	<li>Representantes del Estado en todas las ramas del poder público​</li>
	<li>Entidades gubernamentales del orden nacional y local&nbsp;</li>
</ol>

<p>&nbsp;</p>

<h3>Participe dejando sus comentarios del evento</h3>

<p><iframe frameborder="0" height="480" id="shoutmix_snet2016" scrolling="auto" src="http://sht.mx/snet2016" width="100%">&amp;lt;a data-cke-saved-href="http://sht.mx/snet2016" href="http://sht.mx/snet2016"&amp;gt;ShoutMix Live Chat&amp;lt;/a&amp;gt;</iframe></p>

<p>&nbsp;</p>
