<iframe allowfullscreen="" frameborder="0" src="http://52.37.84.217/snet/acordion_offline/software_development_accordion.html"></iframe>
<iframe allowfullscreen="" frameborder="0" src="http://52.37.84.217/snet/acordion_offline/telecommunications_accordion.html"></iframe>
<iframe allowfullscreen="" frameborder="0" src="http://52.37.84.217/snet/acordion_offline/TI_services_accordion.html"></iframe>
<iframe allowfullscreen="" frameborder="0" src="http://52.37.84.217/snet/acordion_offline/infrastructure_hardware_accordion.html"></iframe>
<iframe allowfullscreen="" frameborder="0" src="http://52.37.84.217/snet/acordion_offline/digital_contents_accordion.html"></iframe>
