<div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body">
          <a class="" href="http://aprende.colombiaaprende.edu.co/es/snet/89246" role="button">Catálogo de cualificaciones
              <span class="icon-book-green"></span>
              <span class="glyphicon glyphicon-plus"></span>
          </a>
      </div>
</div>

<div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body">
          <a class="" href="http://aprende.colombiaaprende.edu.co/es/snet/89326" role="button">Siga aquí en vivo la presentación de la política pública del SNET
              <span class="icon-media"></span>
              <span class="glyphicon glyphicon-plus"></span>
          </a>
      </div>
</div>

<div class="panel panel-default">
      <div class="panel-heading"></div>
      <div class="panel-body">
          <iframe width="100%" height="auto" src="https://www.youtube.com/embed/MOtkw140P38?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
</div>
